<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="it.univaq.flyaq.extension.drone"
         name="Parrot"
         point="it.univaq.flyaq.extension.drone">
      <Drone
            droneModel="model/ParrotSample.xmi"
            icon="icon/Drone-icon.png"
            name="ParrotSample">
      </Drone>
   </extension>

</plugin>
