<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated behaviour -->
      <package
            uri="http://www.flyaq.it/behaviour"
            class="it.univaq.flyaq.behaviour.BehaviourPackage"
            genModel="model/behaviour.genmodel"/>
   </extension>

</plugin>
