<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated drone -->
      <package
            uri="http://www.flyaq.it/drone"
            class="it.univaq.flyaq.drone.DronePackage"
            genModel="model/drone.genmodel"/>
   </extension>

</plugin>
